@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav{
  background: #322E41;
}

.nav__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
  color: #fff;
}

.nav__link{
  margin-right: 30px;
  
  font-size: 16px;
}