@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav__content {
  display: flex;
   align-items: center;
   background: #322E41;
} 
.nav {
  display: flex;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.news__card {
  max-width: 350px;
  width: 100%;
  height: 514px;
  background: #FFFFFF;
  border: 1px solid #D7D6DC;
  border-radius: 3px;
  padding: 14px 15px;
}

.news__img {
  object-fit: cover;
  max-width: 320px;
  height: 263px;
  width: 100%;
}

.news__title {
  color: 2C2A2A;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 700;
  margin-top: 10px;
}

.news__desc {
  color: #9B9B9B;
  max-width: 320px;
  font-size: 16px;
  margin-top: 10px;
}

.news__link {
  color: #FFE600;
  background: #050505;
  font-size: 22px;
  font-weight: 700;
  border-radius: 3px;
  padding: 11px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.news__link_col {
  background: #DFC900;
 }

.products__title {
  font-family: roboto;
  color: black;
  font-weight: 700;
  font-size: 23px;
}

.one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
 
.two {
  display: flex;
  justify-content: space-between;
}

.products__price {
  font-family: roboto;
  font-size: 20px;
}

.products__desc {
  color: #6A6A6A;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  max-width: 540px;
  width: 100%;
  margin-bottom: 21px;
}

.products__link {
  width: 255px;
  height: 48px;
  left: 98px;
  top: 1621px;
  background: #DFC900;
  border-radius: 3px;  
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
}

.products__list {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

.products__card {
  max-width: 50%;
  width: 100%;
}

.products__card_w100 {
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__list-wrapper {
  display: flex;
  width: 100%;
  gap: 15px;
 }